/* Estilos para el select */
#menuOpciones {
    font-size: 1.2rem;         
    color: #555;               
    border: 2px solid #f6ac0f;  
    border-radius: 8px;        
    padding: 10px 15px;        
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;  
    appearance: none;           
}


#menuOpciones::after {
    font-size: 1rem;
    color: #f6ac0f;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#menuOpciones option:checked {
    background-color: #f6ac0f; 
}


.galeria .galeriaFotos img {
    width: 400px;
    height: 300px;
}


  .tarjeta-gris {
    background-color: #f6ac0f; 
    border: 1px solid #e0e0e0; 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    transition: transform 0.2s;
  }


  .tarjeta-gris:hover {
    transform: scale(1.05); 
  }

  .tarjeta-gris img {
    border-radius: 10px; 
    max-height: 200px; 
    object-fit: cover;
  }

  .tarjeta-gris h3 {
    margin-top: 15px;
    font-weight: bold;
  }

  .tarjeta-gris p {
    color: #ffffff;
  }

