/************ TESTIMONIAL  ***************/

.testimonials.owl-carousel .owl-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}


/*flechas*/

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    font-size: 80px;
}

.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: transparent;
    color: #000;
}

.owl-carousel .owl-nav button.owl-next:hover {
    background-color: transparent;
    color: #000;
}

.item {
    border: 1px solid #eee;
    border-color: #f36a6a;
    border-radius: 12px;
    padding: 15px;
    /*cursores web: https://www.w3schools.com/cssref/pr_class_cursor.asp*/
    /*permite mover los recuadros*/
    cursor: move;
}

.item h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin: 15px 0;
    line-height: 1.3;
    color: #ffb300;
}

.item p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    /* margin-bottom: 10px;*/
    line-height: 1.3;
    color: #000000;
}

.testimonials_container {
    display: flex;
    /*padding: 16px;*/
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.owl-item {
    text-align: center;
}